<ng-container class=" p-3" *ngFor="let detalle of detalle_partido.events">
  <div class="info_partido py-3">

    <div class="col-lg-12 row m-0">
      <div class="col-3 col-lg-4 equipos text-center py-lg-3" (click)="mostrarEquipo(detalle.strHomeTeam,id)">
        <ng-container *ngFor="let equipo of local.teams">
          <div class="escudo pr-4 p-lg-1">
            <img [src]="equipo.strTeamBadge" class="card-img-top">
          </div>
        </ng-container>
        <h5 class="mt-2"><span>{{detalle.strHomeTeam}}</span></h5>
      </div>
      <div class="col-6 col-lg-4 resultado text-center p-lg-4">
        <h5 class="fecha m-0">{{detalle.dateEvent}}</h5>
        <h5 class="res m-0"><span>{{detalle.intHomeScore}} - {{detalle.intAwayScore}}</span></h5>
        <h5 class="finalizado m-0">Finalizado</h5>
      </div>
      <div class="col-3 col-lg-4 equipos text-center py-lg-3" (click)="mostrarEquipo(detalle.strAwayTeam,id)">
        <ng-container *ngFor="let equipo of visitante.teams">
          <div class="escudo pr-4 p-lg-1">
            <img [src]="equipo.strTeamBadge" class="card-img-top">
          </div>
        </ng-container>
        <h5 class="mt-2"><span>{{detalle.strAwayTeam}}</span></h5>
      </div>
    </div>
    <hr>
    <div class="col-lg-12">
      <h5 class="text-center"><span>RESUMEN</span></h5>
      <div class="resumen">
        <div class="row goles p-2">
          <div class="col-5 col-lg-5 text-right py-1">{{detalle.strHomeGoalDetails || 'No Registra'}}</div>
          <div class="col-2 col-lg-2 text-center icono"><i class="fa fa-futbol-o p-1" aria-hidden="true"></i>
          </div>
          <div class="col-5 col-lg-5 py-1">{{detalle.strAwayGoalDetails || 'No Registra'}}</div>
        </div>
        <div class="row amarillas p-2">
          <div class="col-5 col-lg-5 text-right py-1">{{detalle.strHomeYellowCards || 'No Registra'}}</div>
          <div class="col-2 col-lg-2 text-center icono">
            <div class="m-auto"></div>
          </div>
          <div class="col-5 col-lg-5 py-2">{{detalle.strAwayYellowCards || 'No Registra'}}</div>
        </div>
        <div class="row rojas p-2">
          <div class="col-5 col-lg-5 text-right py-1">{{detalle.strHomeRedCards || 'No Registra'}}</div>
          <div class="col-2 col-lg-2 text-center icono">
            <div class="m-auto"></div>
          </div>
          <div class="col-5 col-lg-5 py-2">{{detalle.strAwayRedCards || 'No Registra'}}</div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 p-5">
        <h5 class="text-center"><span>ALINEACIONES</span></h5>
        <div class="row py-2">
          <div class="col-lg-6 ">
              <h6 class="nombre_equipo">{{detalle.strHomeTeam}}</h6>
              <h6>Portero: <span>{{detalle.strHomeLineupGoalkeeper || 'No Registra'}}</span></h6>
              <h6>Defensas: <span>{{detalle.strHomeLineupDefense || 'No Registra'}}</span></h6>
              <h6>Mediocampistas: <span>{{detalle.strHomeLineupMidfield || 'No Registra'}}</span></h6>
              <h6>Delanteros: <span> {{detalle.strHomeLineupForward || 'No Registra'}}</span></h6>

              <h6 class="py-4">Sustitutos: <span> {{detalle.strHomeLineupSubstitutes || 'No Registra'}}</span></h6>
          </div>
          <div class="col-lg-6 ">
              <h6 class="nombre_equipo">{{detalle.strAwayTeam}}</h6>
              <h6>Portero: <span>{{detalle.strAwayLineupGoalkeeper || 'No Registra'}}</span></h6>
              <h6>Defensas: <span>{{detalle.strAwayLineupDefense || 'No Registra'}}</span></h6>
              <h6>Mediocampistas: <span>{{detalle.strAwayLineupMidfield || 'No Registra'}}</span></h6>
              <h6>Delanteros: <span> {{detalle.strAwayLineupForward || 'No Registra'}}</span></h6>

              <h6 class="py-4">Sustitutos: <span> {{detalle.strAwayLineupSubstitutes || 'No Registra'}}</span></h6>
          </div>
        </div>
    </div>
  </div>
</ng-container>
