.info{
    border:2px solid #37003c;
    background: #FFF;
}
.nombre{
    margin-top: 30px;
}
.foto img{
    padding: 10px;
}
.dorsal h6{
    font-family: 'Alatsi', sans-serif;
    font-size: 112px;
    text-align: center;
}
