<div class=" p-3" *ngFor="let detalle of detalle_equipo.teams; let i = index">
  <div *ngIf="i==0">
    <div class="info-header">
      <img [src]="detalle.strTeamBanner" class="card-img-top">
      <div class="row py-3">
        <div class="col-md-3">
          <div class="escudo text-center">
            <img [src]="detalle.strTeamBadge" class="card-img-top">
          </div>
        </div>
        <div class="logo col-md-9">
          <div class="text-center">
            <img [src]="detalle.strTeamLogo" class="card-img-top col-md-12">
          </div>
          <h1 class="card-title">{{detalle.strTeam}}</h1>
          <div class="row">
            <div class="col-md-6">
              <h6 class="card-title">Redes Sociales: </h6>
              <div class="redes_sociales d-flex justify-content-between">
                <a href="https://{{detalle.strFacebook}}" target="blank"><i class="fa fa-facebook"></i></a>
                <a href="https://{{detalle.strTwitter}}" target="blank"><i class="fa fa-twitter"></i></a>
                <a href="https://{{detalle.strInstagram}}" target="blank"><i class="fa fa-instagram"></i></a>
                <a href="https://{{detalle.strYoutube}}" target="blank"><i class="fa fa-youtube"></i></a>
                <a href="https://{{detalle.strWebsite}}" target="blank"><i class="fa fa-globe"></i></a>
              </div>
            </div>
            <div class="col-md-6">
              <h6>Pais: <span>{{detalle.strCountry}}</span></h6>
              <h6>Liga: <span>{{detalle.strLeague}}</span></h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="info-body p-3">
      <p class="descripcion">{{detalle.strDescriptionEN}}</p>
      <div class="row estadio my-6">
        <div class="col-md-6 camiseta text-center">
          <h2 class="card-title text-left">Camiseta</h2>
          <img [src]="detalle.strTeamJersey">
        </div>
        <div class="col-md-6 foto">
          <h2 class="card-title">{{detalle.strStadium}}</h2>
          <img [src]="detalle.strStadiumThumb">
          <i class="fa fa-map-marker mt-2"></i> {{detalle.strStadiumLocation}}<br>
          <i class="fa fa-users mt-2"></i> {{detalle.intStadiumCapacity}}
        </div>

      </div>
      <p class="descripcion_estadio">{{detalle.strStadiumDescription}}</p>

      <div class="plantel my-6">
        <h1 class="card-title text-left">Plantel del Equipo</h1>

        <div class="row">
          <div class="col-lg-2 jugador" *ngFor="let jugador of jugadores.player">
            <a [routerLink]="['/equipos',name,'jugador',jugador.idPlayer]" class="card mt-3">
              <div class="contenedor-img">
                <img [src]="jugador.strThumb" class="card-img-top">
              </div>

              <div class="card-body">
                <h6 class="card-title">{{jugador.strPlayer}}</h6>
                <p class="card-text">{{jugador.strPosition}}</p>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="row eventos_tabla my-6">
        <div class="col-lg-6 eventos">
            <h2 class="card-title ">Eventos</h2>
            <div class="table-responsive-sm">
            <table class="table table-sm table-hover">
                <thead>
                  <tr><th scope="col" colspan="5" class="text-center">Ultimos 5 Partidos</th></tr>
                </thead>
                <tbody>
                  <tr *ngFor="let evento of ultimos5.results">
                    <td class="minDate">{{evento.dateEvent}}</td>
                    <td>Finalizado</td>
                    <th>{{evento.strHomeTeam}}</th>
                    <th class="minScore">{{evento.intHomeScore}} - {{evento.intAwayScore}}</th>
                    <th>{{evento.strAwayTeam}}</th>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="table-responsive-sm">
                <table class="table table-sm table-hover">
                    <thead>
                      <tr><th scope="col" colspan="5" class="text-center">Proximos 5 Partidos</th></tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let evento of proximos5.events">
                        <td class="minDate">{{evento.dateEvent}}</td>
                        <td>{{evento.strTime}}</td>
                        <th>{{evento.strHomeTeam}}</th>
                        <th class="minScore">Vs</th>
                        <th>{{evento.strAwayTeam}}</th>
                      </tr>
                    </tbody>
                  </table>
                </div>
             <a href="#"><i class="fa fa-futbol-o" aria-hidden="true"></i> Partidos de la Temporada</a>   
        </div>
        <div class="col-lg-6-tabla">
            <h2 class="card-title text-left">Tabla de Posiciones</h2>
        </div>
      </div>
    </div>
  </div>
</div>