/* You can add global styles to this file, and also import other style files */
body{
    background: cyan;
    font-family: 'Quicksand', sans-serif;
}


@media (max-width: 576px){
    .container {
        width: 100%;
    }
}
